.input-textarea {
  width: 100%;
  height: 150px;
  max-width: 1000px;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

/* Submit button for recommend*/
.custom-rec-button {
    font-family: var(--button-font);
    color: var(--text-color); /* Text color */
    background-color: rgb(var(--button-color-deep));
    border: 0px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 500px;
    cursor: pointer;
    display: block;
    margin: 30px 20px 20px 20px; /* order: top bottom left right */
    transition: 300ms ease-in-out;
}

.custom-rec-button:hover {
    background-color: rgb(var(--button-color-hover)); /* Change background color on hover */
    transform: translateY(-15px) scale(1.1);
}

.feedback-form-button-recommend {
    font-family: var(--button-font);
    color: var(--text-color);
    background-color: rgb(var(--button-color));
    border: 0px solid var(--text-color);
    padding: 8.5px 15px;
    border-radius: 500px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 202px;
    transition: 300ms ease-in-out;
}

.feedback-form-button-recommend:hover {
    background-color: rgb(var(--button-color-hover));
}